---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Achraf Hajji" description="About Achraf Hajji">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
				    
					width="720"
					height="100"
					src="/assets/achraf.jpg"
					alt="Achraf Hajji"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Je suis actuellement en quatrième année dans la filière Finance et Ingénierie Décisionnelle. Passionné par la finance quantitative et la data science, je me concentre sur l’application des algorithmes pour analyser des données financières et optimiser les décisions stratégiques. Mes études m'ont permis de développer des compétences solides en modélisation financière, et je suis également impliqué dans des activités parascolaires qui enrichissent mon expérience en leadership et en travail d’équipe.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><strong>Ecole Nationale des Sciences Appliquées d’Agadir</strong><br>
					Cycle Ingénieur d’État - Finance et Ingénierie Décisionnelle<br>
					2024 – Présent</p>
			
					<br> <!-- Saut de ligne -->
			
					<p><strong>Ecole Nationale des Sciences Appliquées d’Agadir</strong><br>
					Classes Préparatoires<br>
					2022 – 2023</p>
			
					<br> <!-- Saut de ligne -->
			
					<p><strong>Lycée Sidi Lhadj Lhbib</strong><br>
					Baccalauréat International Option Sciences Physiques<br>
					2021</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certificates</h2>
				<div class="content">
					<p><strong>Data Science: Machine Learning</strong><br>
						Harvard University (edX)<br>
						<a href="https://courses.edx.org/certificates/9df958e06a384078b22ac8f4cd0b2b56" target="_blank">Voir le certificat</a>
					</p>
					<br>
			
					<p><strong>Data Analytics for Lean Six Sigma </strong><br>
						University of Amsterdam (Coursera)<br>
						<a href="https://www.coursera.org/account/accomplishments/verify/GDXPPFP2H0YW" target="_blank">Voir le certificat</a>
					</p>
					<br>
			
					<p><strong>Réseaux neuronaux et Deep Learning </strong><br>
						DeepLearning.AI (Coursera)<br>
						<a href="https://www.coursera.org/account/accomplishments/verify/B2Q118VJKNAP" target="_blank">Voir le certificat</a>
					</p>
				</div>
			</section>
			
			
			
			
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
